<!DOCTYPE html>
<html>
<head>
  <title>OmniauthDemo1</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
　
<div id="user_nav">
  <% if current_user %>
    <h1>  <%= current_user.name %>, <%= link_to "logout!!!" ,logout_path %></h1>
  <% else %>
      <%= link_to "Twitter login","/auth/twitter" %>
      <%= link_to "facebook login", "/auth/facebook" %>
  <% end %>
</div>
<hr>
<%= yield %>

</body>
</html>